<h2><%= @listing.title %></h2>
<%= @listing.description %>
<%= @listing.price %>
<%= @listing.accomodation %>
<%= @listing.kind %>
<%= @listing.address %>
<%= @listing.city %>
<%= @listing.country %>
<%= @listing.guest %>
<%= @listing.bedrooms %>
<%= @listing.beds %>
<%= @listing.bathrooms %>
