<h2><%= @listing.title %> <%= @listing.price %></h2>
<p><%= @listing.description %></p>
<%= @listing.accomodation %>
<p><%= @listing.kind %></p>
<p><%= @listing.address %>
<%= @listing.city %>
<%= @listing.country %></p>
<p>Maximum Guests <%= @listing.guest %></p>
<p>Bedrooms <%= @listing.bedrooms %></p>
<p>Beds <%= @listing.beds %></p>
<p>Bathrooms <%= @listing.bathrooms %></p>
<p><%=link_to "Home", user_path(current_user)%> <%=link_to "Index", listings_path%></p>
