
<div class="number-field">
    <%= form.label :check_in  %>
    <%= form.date_field :check_in, class: "form-control" %>
</div>

<div class="number-field">
    <%= form.label :check_out %>
    <%= form.date_field :check_out, class: "form-control" %>
</div>
<div class="submit-field">
    <%= form.submit %>
  </div>
